/homeWork_b2/mang/target/
/homeWork_b2/Assingment_1/target/
/HomeWork_buoi4/nbproject/private/
/HomeWork_buoi4/build/
/homework_b5/build/
/homework_b5/nbproject/private/
/homework_6/nbproject/private/
/homework_6/build/
/homework_b7/nbproject/private/
/homework_b7/build/
/Java2/target/
